<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Médicos</h3>

                <div class="alert alert-info" role="alert">
                    Informacion general de Médicos
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>
                                <th>Hospital asignado</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of medicos">
                            <tr>
                                <td>{{item.nombre}}</td>
                                <td>{{item.hospitales.nombre}}</td>
                               
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios</h3>

                <div class="alert alert-info" role="alert">
                    Informacion general de Usuarios
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                               
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usuario">
                                <td>{{item.nombre}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.role}}</td>
                               
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales</h3>

                <div class="alert alert-info" role="alert">
                    Informacion general de Hospitales
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                               
                                <th>Nombre</th>
                                <th>Usuario Asginado</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of hospitales">
                                <td>{{item.nombre}}</td>
                                <td>{{item.usuario.nombre}}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>