<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal  form-material" [formGroup]="form"  (ngSubmit)="crearUsuario()">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Registrate ahora</h3><small>Crea tu cuenta</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
                    </div>
                    
                    <div class="text-danger  small " *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        El nombre es obligatorio
                    </div>

                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="email" type="text" placeholder="Correo">
                    </div>
                    <div class="text-danger  small " *ngIf="email.invalid && (email.dirty || email.touched)">
                        El correo es obligatorio,
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password" type="password"  placeholder="Contraseña">
                    </div>
                    <div class="text-danger  small " *ngIf="password.invalid && (password.dirty || password.touched)">
                        La contraseña es obligatoria
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password2" type="password" placeholder="Confirmar contraseña">
                    </div>
                    
                    <div class="text-danger  small " *ngIf=" ( form.errors?.soniguales && !form.pristine) ||  ((password2.invalid  ) && (password2.dirty || password2.touched))">
                        * La contraseña es obligatoria <span *ngIf="form.errors?.soniguales && !form.pristine" >* La contraseña deben ser iguales</span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input formControlName="terminos" id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Acepto los <a href="#">Terminos</a></label>
                        </div>

                        <div class="text-danger  small " *ngIf="!terminos.value">
                           Debes aceptar los terminos
                        </div>  

                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button  [disabled]="form.invalid"  class="btn btn-info btn-lg btn-block text-uppercase " type="submit">Registrate</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Ya tienes cuenta? <a [routerLink]="['/login']"  class="text-info m-l-5"><b>Inicia sesión</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->